#food-item-dialog {
  position:fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0px;
  min-width: 400px;
  max-width:60%;
  padding: min(2em, 2%);
  border: black solid 1px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  z-index: 1;
  animation: DialogPopOut 0.5s ease-out forwards;
  opacity: 0;
}

@keyframes DialogPopOut {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
  }
  100% {
    opacity: 1;
    transform:translate(-50%, -50%) scale(1);
  }
}

#food-item-dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

#food-item-dialog h2 {
  margin: 0px 0px 20px 0px;
}

#food-item-dialog .dialog-content{
  height:65vh;
  max-height: 1110px;
  width:96%;
  overflow: auto;
  background-color: rgb(244, 244, 244);
  padding:2%;
  border-radius: 10px;
  border: black solid 1px;
}

#food-item-dialog .dialog-content::-webkit-scrollbar {
  display:none;
}

#foodItemDialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
}



.dialog-content .food-info {
  display: grid; 
  grid-template-columns:minmax(200px, 1fr) minmax(200px, 1fr);
    /* grid-template-columns: repeat(2-fit, minmax(200px, 1fr)); */
  grid-template-rows:  auto;
  grid-gap: 1em;
}

.macros-container{
  background-color: rgb(228, 225, 255);
  grid-area: 1 / 1 / 2 / 2;
}

.user-input-container {
  background-color: rgb(224, 224, 224);
  grid-area: 1 / 2 / 2 / 3;
}

.fat-container {
  background-color: rgb(255, 226, 226);
  grid-column: 1 / -1;
  
}

.food-detail-section {
  padding: min(5em ,5%);
  border-radius: 40px;
  border: black solid 1px;
}

.vitamins-container {
  background-color: rgb(231, 255, 231);
}

.minerals-container {
  background-color: rgb(255, 255, 233);
}

.food-item-log-deatils {
  display:flex;
  flex-direction: column;
}

/*FORMATTING SERVING SIZE INPUT BOX*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

.food-item-btn {
  padding-top: 20px;
  display: flex;
  flex-direction:row-reverse;
  align-items: center;
  gap: 20px;
}

.food-item-btn *{
  cursor: pointer;
  background-color: white;
  border: black solid 3px;
  border-radius: 4px;
  color: black;
  font-weight: bold;
  padding: 10px;
}

.food-item-btn .delete-food-log{
  border-color: red;
  color: red;
}

.food-item-btn .save-food-log{
  border-color: green;
  color: green;
}

.food-item-btn *:hover{
  filter:brightness(90%);
}

#user-log-stats {
  display:flex;
  flex-direction:column
}