@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

html, body {
    margin:0;
    padding: 0;
    width : 100%;
    font-family:'Nunito';
    min-height:100vh;
}

body {
    display: flex;
    padding: 0;
    margin:0
}

#root {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
} 


.header-container{
    height: 100px;
    position: sticky;
    top:0px;
    background-color: #c2e7ff;
    display:flex;
    align-items: center;
    justify-content: end;
    gap:20px;
    box-shadow: 0px 0px 30px 10px #dadada;
    z-index: 1;
}

.header-container .header-logo-link {
    margin-left: 20px;
    margin-right: auto;
    text-decoration: none;
}

.logo-link, .logo {
    color:rgb(58, 58, 255);
    font-size: 30px;
    font-weight:bold;
    margin-left: 20px;
    margin-right: auto;
    text-decoration: none;
    /* text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; */

}

.header-container .header-signup-link {
    margin-right: 20px;
}

.header-container .btn {
    text-decoration: none;
    color: blue;
    padding:20px;
    font-weight: bold;
    /* border: 1px solid black; */
    box-shadow: 0px 0px 30px 2px rgb(216, 248, 255);
    border-radius: 10px;
    transition: background-color .5s ease-in-out;
}

.header-container .btn:hover {
    background-color: rgb(216, 248, 255);
}


.content-container {
    display:flex;
}

.side-bar-container {
    background-color:navy;
    height: 100vh;
    width: 250px;
    position: sticky;
    top:0;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}


.side-bar-container .side-bar-link {
    align-self:stretch;
    display: flex;
    margin: 0px 20px 0px 20px;
    text-decoration: none;

}

.side-bar-container .first-link {
    margin-top: 20px;
}

.side-bar-container .side-bar-link .side-bar-btn {
    height: 40px;
    flex-grow: 1;
    font-size:20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 10px;

}




