@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

.Content-parent{
    font-family: 'Nunito';
}

.logs-date-container{
    font-family: 'Nunito';
    background-color: white;
    border-radius: 40px;
    border: rgb(119, 207, 255) solid 4px;
    font-size: 30px;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    justify-items: center;
    align-items: center;
    margin: 20px 0px 10px 0px
}

.prev-date{
    font-size: 35px;
    padding:1em;
    background-color:white;
    grid-column: 2 / 3;
    cursor: pointer;
}

.logs-date{
    /* background-color:blue; */
    grid-column: 4 / 7;
}

.next-date{
    font-size: 35px;
    padding:1em;
    background-color: white;
    grid-column: 8 / 9;
    cursor: pointer;
}

.prev-date:hover, .next-date:hover{
    filter: brightness(90%); 
}

.food-logger-meal-time-foods{
    padding-bottom:40px;
    font-family: 'Nunito';

}

.meal-type-container {
    display:flex;
    flex-direction: column;
    gap:10px
}

.meal-type-container .food-item-container {
    display:flex;
    align-items: center;
    gap: 10px;
    background-color: rgb(221, 250, 255);
    border-radius: 5px;
    padding: 0px 15px;
    cursor: pointer;
    border: rgb(119, 207, 255) solid 2px;
    box-shadow: 0px 0px 10px 2px #cbcbcb;
    animation: popOut 0.5s ease-out forwards;
    opacity: 0;
}

.meal-type-container .food-item-container .serving-size{
    margin-left: auto;
}

.no-food-item-container {
    display:flex;
    align-items: center;
    background-color: rgb(207, 207, 207);
    color:gray;
    border-radius: 5px;
    border: gray dashed 2px;
}

.no-food-item-container p {
    padding: 0px 10px;
    font-style: italic;
}


@keyframes popOut {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  50% {
    opacity: 1;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

